/* import */
@import url('font.css');
@import url('palette.css');
@import url('scrollbar.css');

* {
    overflow: hidden;
}

.-show-overflow, .-show-overflow * {
    overflow: visible !important;
}

.v-dialog {
    max-width: 600px !important;
}