:root {
    --purple-theme: #9E71FF;
    --gray-1: #EDEEEF;
    --gray-2: #6B727F;

    /* shadow */
    --shadow: #00000020;
}

.-box-shadow-on {
    box-shadow: 0 0 8px 0 var(--shadow) !important;
}

.-box-shadow-off {
    box-shadow: none !important;
}