@import url('palette.css');

::-webkit-scrollbar {
    width: 6px;
  }
::-webkit-scrollbar-track {
  background: var(--gray-1);
}
::-webkit-scrollbar-thumb {
  background: var(--purple-theme);
  border-radius: 50px;
}

::-webkit-scrollbar-track {
  border-radius: 50px;
}